@{
    ViewData["Title"] = "- Início";
}

<div class="main">
        <a class="ih" href="/Home/Servicos">
        <h3 class="text-white">Uma lan house com computadores atualizados!</h3>
        <img src="/img/lan-house.jpg"/></a>
        <a class="if" href="/Home/Produtos">
        <h3 class="text-muted">Com uma cafeteria para reabastecer as energias</h3>
        <img src="/img/cafeteria.jpg"/></a>
        
</div>
