@{
    ViewData["Title"] = "- Quem Somos";
}

<div class="main">
         <p class="text-white">Nós somos uma lan house que tem em mente o preço dos computadores atuais e a baixa velocidade de internet e
        para contornar a situação, começamos nossos serviços. Também dispomos de uma cafeteria no estabelecimento,
        com alguns pratos e bebidas.</p>
</div>